<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <link href="{% static 'form.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #beebe7;">
    <a class="nav-link" href="/lab-4/"> <img src="http://simpleicon.com/dev/wp-content/uploads/note-2-64x64.png" width="25" height="25"> All Notes </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/lab-4/add-note">Add Notes</a>
        <a class="nav-link" href="/lab-4/note-list">Cards</a>
      </div>
    </div>
  </nav>
  <body>
    <!-- <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet"> -->
    <!-- <h1 align= "center">
        Add Notes!!
    </h1> -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <h1>
      Add Notes,
    </h1>
    <form action="" method="POST"> 
        <!-- pake post lebih secure dari pada get (lebih public jd bahaya kl isinya password) -->
    {% csrf_token %}
    <table align="center">
      {{ form.as_table }}
    </table>
    <!-- {{ form.as_p }} -->
    <div class="col-md-12 text-center">
      <input class="btn btn-primary" type="submit" value="      Submit      ">
    </div>
    
    <!-- <input type="submit" class= "button" value="Submit"> -->
    </form>
  </body>
    
</html>