<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <link href="{% static 'note_list.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #beebe7;">
    <a class="nav-link" href="/lab-4/"> <img src="http://simpleicon.com/dev/wp-content/uploads/note-2-64x64.png" width="25" height="25"> All Notes </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/lab-4/add-note">Add Notes</a>
        <a class="navbar-brand" href="/lab-4/note-list">Cards</a>
      </div>
    </div>
  </nav>
  <body>
    <!-- <div class="row" align="center"> -->
    <!-- <div class="row row-cols-4 row-cols-md-3"> -->
        <div class="col mb-4">
            <div class="card-deck">
                {% for element in notes %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">To: {{ element.untuk }} <br>
                        From: {{ element.dari }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tittle: {{ element.judul }}</h5>
                        <p class="card-text">{{ element.pesan }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
    </div>
    
  </body>
    
</html>