<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <link href="{% static 'lab4_index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #beebe7;">
    <a class="navbar-brand" href="/lab-4/"> <img src="http://simpleicon.com/dev/wp-content/uploads/note-2-64x64.png" width="25" height="25"> All Notes </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/lab-4/add-note">Add Notes</a>
        <a class="nav-link" href="/lab-4/note-list">Cards</a>
      </div>
    </div>
  </nav>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <h1 align= "center">
      Welcome To <br>
      NOTES!
    </h1>
    <table align="center">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- membuat forloop untuk menghadirkan isi dari notes -->
      {% for element in notes %}
      <tr>
        <td>{{ element.untuk }}</td>
        <td>{{ element.dari }}</td>
        <td>{{ element.judul }}</td>
        <td>{{ element.pesan }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>