@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    background-image: url(https://wallpapercave.com/wp/wp9657802.gif);
}

h1{
    
    text-align: center;
    color: rgb(250, 190, 227);
    text-shadow: 4px 3px 0px rgba(20, 18, 18, 0.884), 9px 8px 0px rgba(0,0,0,0.15);
    font-family: "Archivo Black", "Archivo", sans-serif;
}

/* form{
    text-align: center;
} */

table {
    /* float: left; */
    /* width: 75%; */
    background-color: black;
    position: center;
    border: 5px solid rgb(240, 128, 190);
    border-collapse: collapse;
    font-family: Helvetica;
}

th, td  {
    border: 2px solid rgb(207, 97, 230);
    padding: 8px 20px;
}

th {
    background-color: #272c2b;
    color: rgb(248, 248, 248);
    text-align: center;
    font-family: Helvetica;
}

td {
    background: rgba(255,255,255,0.8);
    color: rgb(114, 45, 114);
}

.btn{
    text-align: center;
}