@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-image: url(https://wallpapercave.com/wp/wp9657802.gif);
  background-repeat:repeat;
  /* opacity: 1; */
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -12px rgb(110, 108, 108);
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

}

table {
  /* float: left; */
  width: 75%;
  position: center;
  border: 5px solid rgb(240, 128, 190);
  border-collapse: collapse;
  font-family: Helvetica;
}
th, td  {
  border: 2px solid rgb(207, 97, 230);
  padding: 8px 20px;
}
th {
  background-color: #272c2b;
  color: rgb(248, 248, 248);
  text-align: center;
  font-family: Helvetica;
}
td {
  background: rgba(255,255,255,0.8);
  color: rgb(114, 45, 114);
}

h1 {
  font-size: 65px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  color: rgb(253, 245, 127);
  font-weight: normal;
  display: block;
  width: 666px;
  max-width: 80vw;
  min-height: 90px;
  height: auto;
  text-align: center;
  margin: 10rem auto;
  margin: calc(50vh - 5rem) auto;
  text-shadow: 4px 3px 0px rgba(20, 18, 18, 0.884), 9px 8px 0px rgba(0,0,0,0.15);
}