<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style type="text/css">
      body {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: rgb(132, 255, 255);
        background-color: #1a1a0c 
      }
      h1 {
          font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
        }
      </style>
  </head>
  <h1>My Friend List</h1>
    <style>
      table {
        border: 5px solid rgb(240, 128, 190);
        border-collapse: collapse;
        font-family: Helvetica;
      }
      th, td  {
        border: 2px solid rgb(207, 97, 230);
        padding: 8px 20px;
      }
      th {
        background-color: #66e6f7;
        color: rgb(14, 13, 13);
        text-align: center;
        font-family: Georgia;
      }
      td {
        background-color: #d1c5c5;
        color: rgb(114, 45, 114);
      }
    </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!--membuat forloop untuk menghadirkan daftar friends-->
      {% for i in friends %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.dob}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
