<form action="" method="POST"> 
    <!-- pake post lebih secure dari pada get (lebih public jd bahaya kl isinya password) -->
<hr> 
    {% csrf_token %}
    <!-- prevent csrf attack -->
    {{ form.as_p }}
    <!-- kenapa kurungnya dua -->
    <!-- as_p = paragraf -->
	<input type="submit" value="Submit">
</form>