
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style type="text/css">
      body {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: rgb(216, 141, 216);
        background-color: #252524 
      }
      h1 {
          font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
        }
      </style>
  </head>
    <style>
      table {
        border: 5px solid rgb(240, 128, 190);
        border-collapse: collapse;
        font-family: Helvetica;
      }
      th, td  {
        border: 2px solid rgb(207, 97, 230);
        padding: 8px 20px;
      }
      th {
        background-color: #66e6f7;
        color: rgb(14, 13, 13);
        text-align: center;
        font-family: Georgia;
      }
      td {
        background-color: #d1c5c5;
        color: rgb(114, 45, 114);
      }
    </style>
  <body>
    <h1>Welcome To Notes!</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- membuat forloop untuk menghadirkan isi dari notes -->
      {% for element in notes %}
      <tr>
        <td>{{ element.untuk }}</td>
        <td>{{ element.dari }}</td>
        <td>{{ element.judul }}</td>
        <td>{{ element.pesan }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>