<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
    <style>
    table {
      border: 3px solid rgb(240, 128, 190);
    }
    th, td  {
      border: 2px solid rgb(207, 97, 230);
      width: 40%;
    }
    th {
      background-color: #66e6f7;
      color: rgb(14, 13, 13);
      text-align: center;
    }
    </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!--membuat forloop untuk menghadirkan daftar friends-->
      {% if friends %}          
      {% for i in friends %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.dob}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
